## Getting the Sistema de Informações sobre Mortalidade (SIM) dataset

### Firstly we're going to access the microdata columns and their data dictionary to understand the available features and select the most interesting to our exploration.

In [1]:
import basedosdados as bd

In [44]:
# get the headers

sim_header = bd.read_sql(query=""" SELECT * FROM basedosdados.br_ms_sim.microdados LIMIT 0 """,
                          billing_project_id='explorando-basedosdados')
sim_columns = sim_header.columns
sim_columns

Downloading: 0rows [00:00, ?rows/s]

Index(['ano', 'sigla_uf', 'sequencial_obito', 'tipo_obito', 'causa_basica',
       'data_obito', 'hora_obito', 'naturalidade', 'data_nascimento', 'idade',
       'sexo', 'raca_cor', 'estado_civil', 'escolaridade', 'ocupacao',
       'codigo_bairro_residencia', 'id_municipio_residencia',
       'local_ocorrencia', 'codigo_bairro_ocorrencia',
       'id_municipio_ocorrencia', 'idade_mae', 'escolaridade_mae',
       'ocupacao_mae', 'quantidade_filhos_vivos', 'quantidade_filhos_mortos',
       'gravidez', 'gestacao', 'parto', 'obito_parto', 'morte_parto', 'peso',
       'obito_gravidez', 'obito_puerperio', 'assistencia_medica', 'exame',
       'cirurgia', 'necropsia', 'linha_a', 'linha_b', 'linha_c', 'linha_d',
       'linha_ii', 'circunstancia_obito', 'acidente_trabalho', 'fonte',
       'codigo_estabelecimento', 'atestante', 'data_atestado', 'tipo_pos',
       'data_investigacao', 'causa_basica_original', 'data_cadastro',
       'fonte_investigacao', 'data_recebimento', 'causa_basica_pre',
       'tipo_obito_ocorrencia', 'tipo_morte_ocorrencia',
       'data_cadastro_informacao', 'data_cadastro_investigacao',
       'id_municipio_svo_iml', 'data_recebimento_original',
       'data_recebimento_original_a', 'causa_materna', 'status_do_epidem',
       'status_do_nova', 'serie_escolar_falecido', 'serie_escolar_mae',
       'escolaridade_2010', 'escolaridade_mae_2010',
       'escolaridade_falecido_2010_agr', 'escolaridade_mae_2010_agr',
       'semanas_gestacao', 'diferenca_data', 'data_conclusao_investigacao',
       'data_conclusao_caso', 'numero_dias_obito_investigacao',
       'id_municipio_naturalidade', 'descricao_estabelecimento', 'crm',
       'numero_lote', 'status_codificadora', 'codificado', 'versao_sistema',
       'versao_scb', 'atestado', 'numero_dias_obito_ficha', 'fontes',
       'tipo_resgate_informacao', 'tipo_nivel_investigador',
       'numero_dias_informacao', 'fontes_informacao', 'alt_causa'],
      dtype='object')

In [33]:
# get dictionary to inform the column selection

sim_dic = bd.read_sql(query=""" SELECT coluna, chave, valor
                                FROM basedosdados.br_ms_sim.dicionario
                                WHERE id_tabela = 'microdados'""",
                          billing_project_id='explorando-basedosdados')
sim_dic.to_csv('../data/sim_dic')

# check if the time cover is unique
# set(sim_dic.cobertura_temporal)
sim_dic

Downloading: 100%|██████████| 557/557 [00:02<00:00, 199.67rows/s]

               coluna chave                           valor
0          tipo_obito     1                           Fetal
1          tipo_obito     2                       Não-fetal
2        naturalidade     1                        ABU DABI
3        naturalidade     2                          ACORES
4        naturalidade     3                     AFEGANISTAO
..                ...   ...                             ...
552  local_ocorrencia     1                        Hospital
553  local_ocorrencia     2  Outro estabelecimento de saúde
554  local_ocorrencia     3                       Domicílio
555  local_ocorrencia     4                     Via pública
556  local_ocorrencia     5                          Outros

[557 rows x 3 columns]

## Tools for explore the data

In [81]:
# consult a column in the data dictionary

#%timeit sim_dic.query("coluna == 'tipo_obito'")
#%timeit sim_dic[ sim_dic['coluna'] == 'tipo_obito']
# Plain python is faster than .query. 


#sim_dic[ sim_dic['coluna'] == 'local_ocorrencia']
sim_dic[ sim_dic['coluna'].str.contains('parto')]

          coluna chave    valor
398        parto     0     None
399        parto     1  Vaginal
400        parto     2  Cesáreo
401        parto     3     None
402        parto     4     None
403        parto     5     None
404        parto     6     None
405        parto     7     None
406        parto     8     None
407        parto     9     None
408  obito_parto     0     None
409  obito_parto     1    Antes
410  obito_parto     2  Durante
411  obito_parto     3   Depois
412  obito_parto     4     None
413  obito_parto     5     None
414  obito_parto     6     None
415  obito_parto     7     None
416  obito_parto     8     None
417  obito_parto     9     None
418  morte_parto     0     None
419  morte_parto     1    Antes
420  morte_parto     2  Durante
421  morte_parto     3   Depois
422  morte_parto     4     None
423  morte_parto     5     None
424  morte_parto     6     None
425  morte_parto     7     None
426  morte_parto     8     None
427  morte_parto     9     None

In [ ]:
# Slicer to flick thougth the list of columns 
x = 2
sim_columns[10*x:(x*10 + 10)].to_list()

['idade_mae',
 'escolaridade_mae',
 'ocupacao_mae',
 'quantidade_filhos_vivos',
 'quantidade_filhos_mortos',
 'gravidez',
 'gestacao',
 'parto',
 'obito_parto',
 'morte_parto']

In [ ]:
'ano'
'sigla_uf',
 'causa_basica',
 'data_obito',
 'hora_obito',
 'data_nascimento',
 'idade'
'sexo',
 'raca_cor',
 'estado_civil',
 'escolaridade',
 'ocupacao',
 'id_municipio_residencia',
 'local_ocorrencia',
 'codigo_bairro_ocorrencia',
 'id_municipio_ocorrencia',
 'idade_mae',
 'escolaridade_mae',
 'ocupacao_mae',
 'quantidade_filhos_vivos',
 'quantidade_filhos_mortos',
 'gravidez',
 'gestacao',
 'parto',
 'obito_parto',
 'morte_parto'